
  
      label {
        display: inline-block;
        position: relative;
        height: 44px;
        width: 90px;
        background-color: #fff;
      }
    
   
      label {
        cursor: pointer;
        font-size: 0;
        color: transparent;
        border-radius: 22px;
      }
    
    
      label:after {
        content: '';
        display: block;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 2px;
        right: 48px;
        border-radius: 50%;
        background-color: #e8e8e8;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.15);
      }
    
    
      input:checked + label {
        background: #ffd000;
      }
    
    label:after {
        right: 2px;
        background-color: #fff;
        box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
      }
    
      input {
        position: absolute !important;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        bottom: 0;
      }
      
      label {
        transition: background-color 500ms ease;
      }

        label:after {
          transition: right 500ms ease, 
            background-color 500ms ease, 
            box-shadow 500ms ease;
  }
  
  
  
  
  
  
  
  
  
  
 
  
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  section {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    
  }
  
  
    section:nth-of-type(#{$i}) {
      background-color: darken(#eee, $i * 1.5);
     }
  
  
  .input-wrap {
    position: relative;
    padding: 8px;
    min-width: 140px;
  }
  
  label {
    line-height: 44px;
    vertical-align: middle;
  }